/build
/.vs
/.vscode
/vs/.vs
/vs/build

src/resources/shaders.hpp
src/resources/fonts.hpp
src/resources/texturepack.hpp
src/resources/texturepack.png

/resources/shaders/vs/.vs
/resources/shaders/vs/.vscode
/resources/shaders/vs/build

/resources/fonts/vs/.vs
/resources/fonts/vs/.vscode
/resources/fonts/vs/build

/resources/textures/vs/.vs
/resources/textures/vs/.vscode
/resources/textures/vs/build
